name: dockerhub

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Upload container image
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@master
      - name: build
        run: |
          curl -OL https://raw.githubusercontent.com/fujita/dockerfiles/master/rustybgp/Dockerfile
          docker build . -t tomo/rustybgp:latest
      - name: push
        if: github.event_name != 'pull_request'
        env:
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        run: |
          echo "${DOCKERHUB_TOKEN}" | docker login -u tomo --password-stdin
          docker push tomo/rustybgp:latest
